/slprj
/*.slxc
/vanilla_acquired_data
/cleaned_data
/*.autosave
/dataset
/*.asv
/eeglab2026.0.0
/custom_dataset 
/data_analysis/bci_analysis
/+utils/*.asv
/dataset_alfo
/cleaned_data_custom
/custom_dataset_mat
/vector_data
/python_lib/__pycache__
/+utils/*.asv 
/.vscode
/media 
/animation/__pycache__
/animation/animation_venv
